* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --textColor: #000000;
    --constBlack: #000000;
    --bacgroundColor: #FFFFFF;
    --navBackground: #686D76;
    --whiteText: #FFFFFF;
    --textColor2: #F86D17;
    --textColor3: #eb771f;
    --hostBackground: #31363F;
    --font: 'Anton', sans-serif;
    --font2: "Ahkio-Regular";
}

#logo {
    font-size: 1.5rem;
    color: var(--textColor2);
    font-weight: 600;
    font-family: var(--font2) ;
}

body{
    background-color: var(--bacgroundColor);
}

#navbarNav {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color:var(--navBackground);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font2);
    padding-left: 10px;
    z-index: 1000;
}
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link {
    color: var(--textColor);
    border-radius: 20px;
    padding: 10px;
}

.nav-link:hover {
    background-color: var(--textColor2);
    color:var(--constBlack);
}

.nav-item {
    padding: 10px;
}
.social {
    margin-right: 30px;
}
.social a i{
   padding: 8px;
   color: var(--constBlack);
   border-radius: 50%;
}

.social a i:hover {
    background-color: var(--textColor2);
    color: var(--whiteText);
}

.social a {
    text-decoration: none;
}

.banner {
    text-align: center;
    background: url("/images/podcast.png");
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 5rem;
}

.banner h1 {
    margin: 6rem 6rem 4rem 5rem;
    color: var(--whiteText);
    padding: 10px;
    font-size: 3rem;
    font-family: var(--font);
    font-weight: 800;
    text-align: center;
}

.banner p {
    margin: 6rem 6rem 6rem 6rem;
    color: var(--whiteText);
    padding: 10px;
    font-size: 1.1rem;
    font-family: var(--font);
    text-align: center;
}

.banner button {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color:var(--textColor2);
    border-color: var(--textColor2);
    margin-top: 3rem;
    margin-bottom: 6.5rem;
}

.banner-button a button {
    margin-right: 30px;
}


.banner button:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--textColor2);
    color:var(--textColor2);
}

.content-container {
    display: block;
    padding: 50px;
    background-image: url("../images/background3.png");
}

.turkishe-container {
    text-align: center;
    font-family: var(--font);
}

.turkishe-container h1 {
    color: var(--textColor2);
    margin: 20px 400px;
    padding: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 40px;

}

.turkishe-container p {
    padding: 30px;
    border-radius: 20px;
    font-size: 24px;
    color: var(--textColor);
    margin: 0 100px;
}

.turkishe-container button {
    background-color:var(--textColor2);
    border-color: var(--textColor2);
    margin-bottom: 30px;
    font-size: 24px;
}

.turkishe-container button:hover {
    color: var(--constBlack);
}

#link-name {
    text-align: center;
    font-size: 2rem;
    color: var(--constBlack);
    font-weight: 400;
}
#link-name:hover {
    color: var(--whiteText);
}

.content-container h1, .content-container p {
    text-align: center;
    font-family: var(--font);
}

.content-container h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: 5px;
    color: var(--textColor);
}

.content-container p {
    padding: 30px;
    border-radius: 20px;
    font-size: 24px;
    color: var(--whiteText);
    margin: 0 10px;
}

#social-2 i{
    color:var(--constBlack);
    font-size: 40px;
    margin: 0 20px;
    margin-left: 18%;
    padding: 10px;
    border-radius: 50%;
}

#social-2 i:hover {
    background-color: var(--constBlack);
    color: var(--whiteText);
}

#social-2 a{
    text-decoration: none;
}

.vision h1{
    color: var(--textColor2);
    font-family: var(--font);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 5px;
    margin-top: 100px;
}

.vision-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    gap: 10px;
    margin: 10px;
    margin-bottom: 100px;
    min-width: 500px;
}

.vision-subcontainer h2 {
    text-align: center;
    color: var(--textColor2);
    font-family: var(--font);
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 3px;
}

.vision-subcontainer {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    max-width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.vision-subcontainer p {
    color: var(--textColor);
    font-family: var(--font);
    font-size: 22px;
}

.vision-container img {
    margin-bottom: 50px;
}

.podcast h1{
    margin-top: 50px;
    color:var(--textColor2);
    font-family: var(--font);
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
    letter-spacing: 3px;
    margin-top: 100px;
}

.podcast-container {
    margin-left: 30px;
    min-width: 50%;
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 100px;
}

.podcast-subcontainer {
    display: inline-block;
    flex: 0 0 auto;
    width: 400px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.podcast-subcontainer a h2 {
    color: var(--textColor2);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font);
    text-align: center;
    letter-spacing: 2px;
}

.podcast-subcontainer h2:hover {
    color: var(--constBlack);
}

.podcast-subcontainer img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 10px;
}

.podcast-subcontainer img:hover{
    border: 3px solid var(--textColor2);
    box-shadow: 0 0 10px 10px var(--textColor2);
}

.podcast-subcontainer a{
    text-decoration: none;
}

#social a {
    text-decoration: none;
}

#social i {
    color: var(--textColor2);
    font-size: 30px;
    padding: 0 10px;
    padding: 8px;
    border-radius: 50%;
}

#social i:hover{
    background-color: var(--textColor2);
    color:var(--whiteText);
}

.host h1 {
    color:var(--textColor2);
    text-align: center;
    font-family: var(--font);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 70px;
}

.host-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.host-subcontainer {
    width: 400px;
    height: auto;
    padding: 30px;
    background-color: var(--hostBackground);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.host-subcontainer img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.host-container h2 {
    color:var(--textColor2);
    font-family: var(--font);
    font-size: 34px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.host-subcontainer img:hover {
    border: 3px solid var(--textColor2);
    box-shadow: 0 0 10px 10px var(--textColor2);
}

.host-container a{
    text-decoration: none;
}

.host-subcontainer h2:hover {
    color: var(--whiteText);
}

.host-subcontainer i{
    color:var(--textColor2);
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
}

.host-subcontainer i:hover {
    color: var(--whiteText);
    background-color: var(--textColor2);
}

.why-container {
    background-image: url("../images/background5.png");
    padding: 30px;
    margin: 10px 0;
    text-align: center;
}

.why-container h1 {
    font-family: var(--font);
    color: var(--constBlack);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    margin: 30px;
}

.why-subcontainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.why-subcontainer p {
    font-family: var(--font);
    font-size: 24px;
    color: var(--whiteText);
    margin-bottom: 30px;
}

.why-container button{
    background-color:var(--constBlack);
    border-color:var(--constBlack);
    font-family: var(--font);
    padding: 17px;
    color:var(--whiteText);
    font-weight: 600;
}

.why-container button:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--constBlack);
}

.story-header {
    background-image: url("../images/kirke.jpeg");
    padding: 140px;
    margin: 50px;
    text-align: center;
    border-radius: 20px;
}

.story-header h1 {
    color:var(--textColor2);
    font-family: var(--font);
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 10px;
}

.story-container {
    color:var(--textColor);
    margin: 30px 300px;
    font-family: garet;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

.story-container p {
    margin-bottom: 50px;
}

.news-container {
    background-image: url("../images/background7.png");
    padding: 100px;
    text-align: center;
}

.news-container h1 {
    color: var(--textColor);
    font-family: var(--font);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

#sub-content {
    color:#000000;
}

.news-subcontainer p{
    color:var(--textColor);
    margin: 10px 100px;
    font-family: var(--font);
    font-size: 15px;
}

#mail {
    display: flex;
    gap: 15px;
    margin-left: 35%;
}

#mail input {
    width: 300px;
}

#mail button {
    background-color: var(--constBlack);
    color: var(--whiteText);
    border-color: var(--constBlack);
    padding: 10px;
    border-width: 3px;
    font-weight: 500;
}

#mail button:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 5px var(--textColor);
}

.sss-container {
    font-family: var(--font);
}
.sss-container h1 {
    color:var(--textColor2);
    text-align: center;
    font-size: 100px;
    margin: 70px;
    font-weight: 900;
    letter-spacing: 10px;
}
.sss-subcontainer {
    margin: 30px 300px;
}

.sss-subcontainer p {
    color: var(--textColor);
    font-size: 30px;
    margin: 10px 50px;
}

footer {
    background-color: var(--constBlack);
    color: white;
    padding: 20px 0;
    font-style: italic;
}

footer img {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

footer img:hover {
    border: 3px solid var(--textColor2);
}

.footer-column p {
    margin-top: 50px;
    font-size: 20px;
    font-style: italic;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 30px;
    text-align: center;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 800;
    color:var(--textColor2);
    letter-spacing: 3px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
}

.footer-column ul li a:hover {
    color: var(--textColor2);
}

footer {
    font-family: var(--font);
}

.blog {
    font-family: var(--font);
    color: var(--textColor2);
    font-size: 50px;
    font-weight: 900;
    max-width: 1000px;
    text-align: center;
    margin: 50px auto;
    letter-spacing: 3px;
}

.blog-content {
    margin: 50px 10px;
    padding: 10px 30px;
    font-family: var(--font);
}

.blog-content h1 {
    color: var(--textColor2);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px; 
}

.blog-content h2 {
    color: var(--textColor3);
    padding: 10px 30px;
    font-size: 50px;
    font-weight: 800;
    margin-right: 30%;
}

.blog-content h3 {
    color: var(--textColor3);
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 800;
    margin-right: 30%;
}

.blog-content p {
    color: var(--textColor);
    padding: 10px 20px;
    font-size: 30px;
}

.blog-content:last-of-type {
    margin-bottom: 100px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.contact-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:var(--font);
}

.contact-form {
    background-color: var(--textColor2);
    width: 45rem;
    height: 45rem;
    border-radius: 20px;
    padding-top: 5rem;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.contact-title {
    color: var(--whiteText);
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 2.5rem;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 1.7rem 0;
    width: 80%;
    margin-left: 10%;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #FAFAFA;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.input-container .input {
    width: 100%;
    outline: none;
    border: 2px solid var(--whiteText);
    background: none;
    padding: 0.6rem 1.2rem;
    color: var(--whiteText);
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

.input-container textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.contact-form .btn {
    padding: 0.6rem 1.3rem;
    background-color: #FFFFFF;
    border: 2px solid #FAFAFA;
    font-size: 0.95rem;
    color: var(--textColor2);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 0 5px 5px #F4A261;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50rem;
    margin: 0 45%;
}

.btn:hover {
    background: none;
    color:#FAFAFA;
    box-shadow: 0 0 10px 10px #F4A261;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color:#F86D17 ;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after{
    width: 50%;
    opacity: 1;
}

.contact-info {
    background-color: #FAFAFA;
}

.social-blog {
    font-size: 50px;
    text-align: center;
}

.social-blog a{
    text-decoration: none;
    color:#F86D17;
    padding: 8px;
    border-radius: 50%;
    margin-left: 10px;
}

.social-blog a:hover {
    background-color: #F86D17;
    color:#FAFAFA;
    box-shadow: 0 0 5px 5px #F86D17

}
li {
    color:#F86D17;
    font-size: 1.5rem;
}


.blogs-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    font-family: var(--font);
}

.blogs-container a {
    text-decoration: none;
}

.blog-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    flex: 1 1 100%;
    max-width: calc(33.333% - 20px);
}


.blog-item img {
    width: 100%; /* Make the image take up the full width of its container */
    height: 300px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px; /* Optional: to give the images rounded corners */
    display: block;
    margin: 0 auto;
}

.blog-item img:hover {
    border: 2px solid var(--textColor2);
    box-shadow: 0 0 5px 5px var(--textColor2);
}

.blog-item h1 {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    color: var(--textColor2);
    font-size: 1.8rem;
    margin-top: 10px;
}

.blog-item h1:hover {
    color: var(--textColor);
}

.blog-item p {
    max-width: 490px;
    margin-top: 10px;
}

.blog-item.border-item img{
    border: 3px solid var(--textColor2);
}

.blog-social {
    display: flex;
    justify-content: space-evenly;
}

.blog-btn {
    background-color: var(--textColor2);
    color: var(--constBlack);
    border-color: var(--textColor2);
    padding: 5px;
    border-radius: 10px;
}

.blog-btn:hover {
    box-shadow: 0 0 5px 5px var(--textColor2);
    color: var(--whiteText);

}

.gallery-container {
    position: relative;
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 30px 10px;
    margin-left: 20%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Space between cards */
    max-width: 1200px; /* Optional: Set a max-width to constrain the content */
    margin: 0 auto; /* Center the grid container */
    font-family: var(--font);
  }

  .testimonial-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s;
    height: 100%; /* Ensure all testimonial containers have equal height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is evenly distributed */
  }

  .testimonial-container:hover {
    transform: translateY(-5px);
  }

  .testimonial-header h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    color: var(--textColor2);

  }

  .testimonial-content p {
    font-size: 16px;
    color: var(--constBlack);
    line-height: 1.5;
    flex-grow: 1; /* Make sure the content takes up remaining space */
  }
  .testimonials-header {
    color: var(--textColor2);
    font-family: var(--font);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.sss-header {
    display: flex;
    gap: 1rem;
    color: var(--textColor2);
}
.sss-btn {
    margin: auto 0;
    border-radius: 50%;
    background-color: var(--textColor2);
    font-weight: 500;
}

.sss-btn:hover {
    color: var(--constBlack);
}

@media (max-width: 576px) {
    .navbar {
        position: relative;
    }

    .banner {
        padding-top: 0; /* No offset needed for non-fixed navbar */
    }

    /* Remove margins for all sections */
    .banner,
    .podcast,
    .content-container,
    .vision,
    .host,
    .why,
    .news,
    .sss,
    .story-container,
    .blog-content {
        margin: 0 !important;
        padding: 0 10px; /* Adding a little padding for better readability */
    }
}

@media (min-width: 577px) {
    body {
        padding-top: 56px; /* Offset for fixed navbar on larger screens */
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

/* Dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Responsive styling for margins */
@media (max-width: 576px) {
    .vision {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
    }
    .navbar-collapse {
        display: flex !important;
        justify-content: space-around;
        flex-basis: auto;
    }
    .navbar-toggler {
        display: none; /* Hide the toggle button since we don't want collapsing */
    }
    .nav-link {
        font-size: 0.9rem;
        padding: 5px;
    }
    .banner {
        padding-top: 60px;
        margin-left: 0;
        margin-right: 0;
    } 
    .banner h1{
        margin-top: -25px;
        font-size: 2rem;
        margin: 0 auto;
    }

    .banner p {
        margin-top: 0;
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .banner button {
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 1rem;
    }

    .content-container h1 {
        padding-top: 20px;
        font-size: 1.5rem;
    }

    #link-name {
        font-size: 1.2rem;
    }

    #social-2 i {
        font-size: 1.2rem;
        margin: 0;
        margin-left: 13%;
        margin-bottom: 10px;
    }

    .content-container p {
        font-size: 1rem;
        margin: 0 10px; /* Adjusting margin */
        padding: 10px;
    }

    .vision h1 {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .vision-container {
        gap: 0;
        margin: 0;
        margin-right: 20px;
        
    }

    .vision-subcontainer {
        flex-wrap: wrap;
        flex: 1 1 calc(90% - 20px);
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between; /* Ensure content is evenly distributed */
        align-items: center;
        max-width: 80%;
        padding: 1px;
        text-align: center;
    }

    .vision-subcontainer h2 {
        font-size: 1rem;
    }

    .vision-subcontainer p {
        font-size: 1rem;
    }

    .podcast h1 {
        font-size: 1.5rem;
    }

    .podcast-subcontainer h2 {
        font-size: 0.7rem;
    }

    .host h1 {
        font-size: 1.5rem;
    }

    .host-container h2 {
        font-size: 1rem;
    }

    .why-container h1 {
        font-size: 1.5rem;
    }

    .why-subcontainer p {
        font-size: 1rem;
        margin: 0 10px; /* Adjusting margin */
        margin-bottom: 20px;
    }

    .news-container {
        padding: 0;
        margin: 10px 0;
    }

    .news-container h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-top: 20px;
    }

    .news-subcontainer p {
        font-size: 1rem;
        margin: 10px; /* Adjusting margin */
    }

    .blog{
        font-size: 2rem;
    }

    .blog-content h1 {
        font-size: 1.5rem;
        padding: 0;
    }

    .blog-content h2 {
        font-size: 1.2rem;
        padding: 0;
    }

    .blog-content h3 {
        font-size: 1rem;
        padding: 0;
    }

    .blog-content p {
        font-size: 1rem;
        margin: 0 10px; /* Adjusting margin */
    }
    .sss-subcontainer {
        margin: 0 10px;
    }
    .sss-container h1 {
        font-size: 1.5rem;
    }

    .sss-subcontainer h2 {
        font-size: 1.2rem;
    }

    .sss-subcontainer p {
        font-size: 1rem;
        margin: 0 10px; /* Adjusting margin */
    }

    .story-header h1 {
        font-size: 1.5rem;
    }

    .story-container p {
        font-size: 1rem;
        margin: 0 10px; /* Adjusting margin */
    }

    #mail {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    #mail input {
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 100%;
    }

    #mail button {
        width: 100%;
        margin-left: 100%;
    }

    .podcast-subcontainer{
        width: 70%;
        height: 70%;
    }

    .banner-item {
        max-width: fit-content;
    }

    .banner-item img {
        width: 70%;
        height: 70%;
    }
    .blog-item {
        flex: 1 1 100%; /* Stack all items on top of each other on mobile */
        max-width: 100%;
    }
    .gallery-container {
        height: auto;
    }
    .testimonials {
        grid-template-columns: repeat(1, 1fr); /* Three equal columns */
        margin: 0 10px;
    }
    .testimonials-header {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .turkishe-container h1 {
        margin: 10px;
        padding: 0;
        font-size: 1.5rem;
    }

    .turkishe-container p {
        font-size: 1rem;
        margin: 0;
    }

    .turkishe-container button {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }
    .navbar-collapse {
        display: flex !important;
        justify-content: space-around;
        flex-basis: auto;
    }
    .navbar-toggler {
        display: none; /* Hide the toggle button since we don't want collapsing */
    }
    .nav-link {
        font-size: 0.9rem;
        padding: 5px;
    }
    #link-name {
        font-size: 1.2rem;
    }
    .banner h1 {
        font-size: 0.9rem;
    }

    .banner p {
        margin-top: 20px;
        font-size: 0.7rem;
    }

    .banner button {
        margin-top: 20px;
        font-size: 1rem;
    }

    .content-container h1 {
        font-size: 2rem;
    }

    .content-container p {
        font-size: 1.2rem;
        margin: 0 10px; /* Adjusting margin */
    }

    #social-2 i {
        font-size: 1.2rem;
        margin: 0;
        margin-left: 8%;
    }

    
    .vision h1 {
        font-size: 2rem;
        margin: 10px;
    }

    .vision-container {
        gap: 0;
        margin: 0;
        margin-right: 20px;
        
    }

    .vision-subcontainer {
        flex-wrap: wrap;
        box-sizing: border-box;
        flex: 1 1 calc(90% - 20px);
        flex-direction: column;
        justify-content: space-between; /* Ensure content is evenly distributed */
        align-items: center;
        max-width: 80%;
        padding: 1px;
        text-align: center;
    }

    .vision-subcontainer h2 {
        font-size: 1.5rem;
    }

    .vision-subcontainer p {
        font-size: 1.2rem;
    }

    .podcast h1 {
        font-size: 2rem;
    }

    .podcast-subcontainer{
        width: 70%;
        height: 70%;
    }

    .podcast-subcontainer h2 {
        font-size: 1.5rem;
    }

    .host h1 {
        font-size: 2rem;
    }

    .host-container h2 {
        font-size: 1.5rem;
    }

    .why-container h1 {
        font-size: 2.5rem;
    }

    .why-subcontainer p {
        font-size: 1.5rem;
        margin: 0 10px; /* Adjusting margin */
        margin-bottom: 20px;
    }
    .news-container {
        padding: 20px;
        width: 100%;
    }

    .news-container h1 {
        font-size: 2.5rem;
    }

    .news-subcontainer p {
        font-size: 1.5rem;
        margin: 0 10px; /* Adjusting margin */
    }

    .blog{
        font-size: 2rem;
        margin-top: 200px;
    }

    .blog-content h1 {
        font-size: 1.5rem;
        padding: 0;
    }

    .blog-content h2 {
        font-size: 1.2rem;
        padding: 0;
    }

    .blog-content h3 {
        font-size: 1rem;
        padding: 0;
    }

    .blog-content p {
        font-size: 1.2rem;
        margin: 0 10px; /* Adjusting margin */
    }

    .sss-container h1 {
        font-size: 2.5rem;
    }

    .sss-subcontainer h2 {
        font-size: 2rem;
    }

    .sss-subcontainer p {
        font-size: 1.2rem;
        margin: 0 10px; /* Adjusting margin */
    }

    .story-header h1 {
        font-size: 2.5rem;
    }

    .story-container p {
        font-size: 1.2rem;
        margin: 0 10px; /* Adjusting margin */
    }

    #mail {
        flex-direction: row;
        align-items: center;
        margin-left: 25%;
    }

    #mail input {
        width: 100%;
        margin-bottom: 0;
    }

    #mail button {
        width: 100%;
    }

    .blog-item {
        flex: 1 1 100%; /* Stack all items on top of each other on mobile */
        max-width: 100%;
    }
    .gallery-container {
        height: auto;
    }
    .testimonials {
        grid-template-columns: repeat(1, 1fr); /* Three equal columns */
        
    }
    .testimonials-header {
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .turkishe-container h1 {
        margin: 10px;
        padding: 0;
        font-size: 1.5rem;
    }

    .turkishe-container p {
        font-size: 1rem;
    }

    .turkishe-container button {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .banner h1 {
        font-size: 4rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    .banner button {
        font-size: 1.5rem;
    }

    .content-container h1 {
        font-size: 3rem;
    }

    .content-container p {
        font-size: 1.5rem;
    }

    .vision h1 {
        font-size: 2.5rem;
    }

    .vision-subcontainer h2 {
        font-size: 2rem;
    }

    .vision-subcontainer p {
        font-size: 1.5rem;
    }

    .podcast h1 {
        font-size: 2.5rem;
    }

    .podcast-subcontainer h2 {
        font-size: 2rem;
    }

    .host h1 {
        font-size: 2.5rem;
    }

    .host-container h2 {
        font-size: 2rem;
    }

    .why-container h1 {
        font-size: 3rem;
    }

    .why-subcontainer p {
        font-size: 2rem;
    }

    .news-container h1 {
        font-size: 3rem;
    }

    .news-subcontainer p {
        font-size: 2rem;
    }

    .blog-content h1 {
        font-size: 3rem;
    }

    .blog-content h2 {
        font-size: 2.5rem;
    }

    .blog-content p {
        font-size: 1.5rem;
    }

    .sss-container h1 {
        font-size: 3rem;
    }

    .sss-subcontainer h2 {
        font-size: 2.5rem;
    }

    .sss-subcontainer p {
        font-size: 1.5rem;
    }

    .story-header h1 {
        font-size: 3rem;
    }

    .story-container p {
        font-size: 1.5rem;
    }
}